.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px; 
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          
}

.header__logo-link {
  display: inline-block;
}

.header__logo {
  max-height: 80px;
  width: auto; 
  cursor: pointer;
}


.header__greeting {
  font-size: 22px;    
  font-weight: 600;
  color: #d32f2f;
  margin: 0;
}

