.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;   
  background-color: #0d1846;
  
}

.footer__logo {
  height: 50px;          
}

.footer__socials {
  display: flex;
  gap: 24px;           
}

.footer__socials img {
  width: 32px;           
  height: 32px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.footer__socials img:hover {
  transform: scale(1.15);
}
